<p>
  <mat-toolbar>
    <div class="Header">
      <h1>Calculator App</h1>
    </div>
  </mat-toolbar>
</p>

<div class="container">
  <div class="main">

    <div class="input_container">
      <input type="number" name="n1" value=0 [(ngModel)]="n1">
      <input type="number" name="n2" value=0 [(ngModel)]="n2">
    </div>

    <div class="button_container">
      <button mat-button color="primary" class="btn" (click)="add()">
        <span>
          Addition
        </span>
        <mat-icon aria-label="icon-addition">add</mat-icon>
      </button>

      <button mat-button color="accent" class="btn" (click)="sub()">
        <span>
          Subtraction
        </span>
        <mat-icon aria-label="icon-subtraction">remove</mat-icon>
      </button>

      <button mat-button color="primary" class="btn" (click)="mul()">
        <span>
          Multiply
        </span>
        <mat-icon aria-label="icon-multiplication">close</mat-icon>
      </button>
    </div>

    <div class="button_container">
      <button mat-button color="accent" class="btn" (click)="divi()">
        <span>
          Division
        </span>
        <mat-icon aria-label="icon-divide">edit</mat-icon>
      </button>

      <button mat-button color="primary" class="btn" (click)="fac()">
        <span>
          Factorial
        </span>
        <mat-icon aria-label="icon-factorial">priority_high</mat-icon>
      </button>

      <button mat-button color="accent" class="btn" (click)="prime()">
        <span>
          Prime Check
        </span>
        <mat-icon aria-label="icon-p">done</mat-icon>
      </button>
    </div>

    <div class="ans">
      <mat-card>
        Result:
        {{!n5 ? n3 : n4}}
      </mat-card>
    </div>
  </div>
</div>